tr {
    th {
        word-break: normal !important;
        color: teal;
        font-weight: bold;

        &:hover {
            cursor: pointer;
        }
    }

    td {
        &.cursor {
            &:hover {
                cursor: pointer;
            }
        }
        &.teal {
            color: teal
        }
    }
}