<nz-select nzMode="tags" style="width: 100%;" nzPlaceHolder="Select Accounts" [(ngModel)]="selectedAccountIds">
  <nz-option *ngFor="let account of accounts" [nzLabel]="account.user.full_name" [nzValue]="account._id">
  </nz-option>
</nz-select>




<div *ngIf="type === 'GET_MEDIA_COMPONENT'">
  <nz-radio-group [(ngModel)]="optionValue.getMediaOf" (ngModelChange)="onResetResults()">
    <label nz-radio nzValue="user">User</label>
    <label nz-radio nzValue="hashtag">Hashtag</label>
    <label nz-radio nzValue="location">Location</label>
    <label nz-radio nzValue="facebookFeed">Facebook Feed</label>
  </nz-radio-group>
  <div>
  
    <span [ngSwitch]="optionValue.getMediaOf">
      <p *ngSwitchCase="'facebookFeed'">
          <label (ngModelChange)="onResetResults()" nz-checkbox [(ngModel)]="optionValue.isProfile">Profile</label>
      </p>
      <p *ngSwitchCase="'user'">
          <label (ngModelChange)="onResetResults()" nz-checkbox [(ngModel)]="optionValue.isGetTaggedMedia">Tagged media of user</label>
      </p>
      <p *ngSwitchDefault>
          <label (ngModelChange)="onResetResults()" nz-checkbox [(ngModel)]="optionValue.isGetTopMedia">Top media of hashtag</label>
      </p>
    </span>
  </div>
</div>


<div *ngIf="type === 'SEARCH_COMPONENT'">
  <nz-radio-group (ngModelChange)="onResetResults()" [(ngModel)]="optionValue.contextSearch">
    <label nz-radio nzValue="user">User</label>
    <label nz-radio nzValue="hashtag">Hashtag</label>
    <label nz-radio nzValue="place">Place</label>
    <label nz-radio nzValue="placeFacebook">Place On Facebook</label>
  </nz-radio-group>
</div>