<nz-select nzMode="tags" style="width: 100%;" nzPlaceHolder="Select Accounts" [(ngModel)]="selectedAccountIds">
  <nz-option *ngFor="let account of accounts" [nzLabel]="account.user.full_name" [nzValue]="account._id">
  </nz-option>
</nz-select>



<nz-radio-group (ngModelChange)="ngModelChangeXX()" [(ngModel)]="optionValue.getMediaOf" *ngIf="type === 'GET_MEDIA_COMPONENT' " >
  <label nz-radio nzValue="user">User</label>
  <label nz-radio nzValue="hashtag">Hashtag</label>
  <label nz-radio nzValue="location">Location</label>
</nz-radio-group>